{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}

{% block content %}
      <div class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <h1>{{ brand }}</h1>
                {% include ['custom/front_page_text.html', 'home/_pybossa_text.html'] ignore missing %}
            </div>
            <div class="col-md-8">
              <div class="row">
                {% for f in categories_projects['featured'] %}
                <div class="col-xs-4 col-sm-2">
                  <a href="{{ url_for('project.details', short_name=f.short_name)}}">
                    {{ helper.render_project_thumbnail(f, upload_method) }}
                    <h3>{{f.name}}</h3>
                    <span class="label label-info">{{ _('Info') }}</span>
                  </a>
                </div>
                {% endfor %}
                {% for number in range(18 - categories_projects['featured']|count) %}
                <div class="col-xs-4 col-sm-2">
                  <div class="featured"></div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container-fluid grey">
        <section class="get-started container">
          <div class="row">
            <div class="col-md-4">
                <h2><i class="glyphicon glyphicon-play-circle"></i> {{ _('Get Started') }}</h2>
              <p>{{ _('It\'s really simple to start contributing.') }}</p>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-sm-6">
                  <div class="get-started-call">
                    <a href="{{url_for('project.index')}}" class="btn btn-info btn-lg btn-block"><i class="glyphicon glyphicon-ok-sign"></i>{{ _(' Start Contributing') }}</a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="get-started-call">
                    <a href="{{url_for('project.new')}}" class="btn btn-primary btn-lg btn-block"><i class="glyphicon glyphicon-plus-sign"></i> {{ _('Create a Project') }}</a>
                  </div>
                </div>
              </div>
                 
            </div>
        </section>
      </div>
      
      <section class="container">
        <h2><i class="glyphicon glyphicon-th"></i> {{ _('Most Active Projects') }}</h2>
        <div class="row">
          {% for project in top_projects %}
          <div class="col-md-3">
            <div class="text-center">
                {% if project.info.thumbnail %}
                <a href="{{url_for('project.details', short_name=project.short_name)}}" class="image" style="background-image:url({{helper.render_url_thumbnail(project, upload_method)}})"></a>
                {% else %}
                <a href="{{url_for('project.details', short_name=project.short_name)}}" class="image" style="background-image:url({{url_for('static',filename='img/placeholder.project.png')}})"></a>
                {% endif %}
                <h3>{{project.name | truncate(20, true)}}</h3>
                <p>{{project.description | truncate(32, true)}}</p>
                <p><a href="{{url_for('project.details',short_name=project.short_name)}}" class="btn btn-xs btn-info">Info</a> <a href="{{url_for('project.presenter',short_name=project.short_name)}}" class="btn btn-xs btn-primary">{{ _('Start') }}</a></p>
            </div>
          </div>
          {% endfor %}
          {% for i in range(4-top_projects|count)%}
          <div class="col-xs-6 col-md-3">
            <div class="text-center">
                <a href="#" class="image" style="background-image:url({{url_for('static',filename='img/placeholder.project.png')}})"></a>
                <h3>{{ _('Your project') }}</h3>
                <p>{{ _('could be here!') }}</p>
                <p><a href="{{url_for('project.new')}}" class="btn btn-xs btn-primary">{{ _('Create a project') }}</a></p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      
      {% if top_users %}
      <div class="container-fluid grey">
        <section id="top_users" class="container">
          <h2><i class="glyphicon glyphicon-user"></i>{{ _('Most Active Volunteers') }}</h2>
          <div class="row">
            {% for user in top_users %}
            <div class="col-xs-2 col-sm-4 col-md-3 col-lg-2">
              <a href="{{url_for('account.profile', name=user.name)}}" data-content="
                    <strong>{{_('Joined')}}:</strong> {{user.created[0:10]}} 
                    <br/>
                    <strong>{{_('Submitted Tasks')}}:</strong> {{user.task_runs}}
                    " rel="popover" data-original-title="<strong>{{user.fullname}}</strong>">
                    {{ account_helper.render_user_thumbnail(user, upload_method, style="width:100%;") }}
               </a>
               <span class="label label-success">{{user.task_runs}}</span> <small>{{_('Tasks')}}</small>
            </div>
            {% endfor %}
          </div>
        </section>
      </div>
      {% endif %}
<script>
$("a[rel=popover]").popover({
        html: true,
        animation: true,
        trigger: 'hover',
        placement: 'top'
                });
</script>
{{ helper.broken_image() }}
{% endblock %}
