/*!
 * Contribua Theme 
 * by Jefferson Neves (https://github.com/jeffersonrpn)
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Museo Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 24px;
  line-height: 26px;
}
h2 {
  font-size: 18px;
  line-height: normal;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 15px;
  line-height: normal;
}
h1 [class^="glyphicon"],
h2 [class^="glyphicon"],
h3 [class^="glyphicon"],
h4 [class^="glyphicon"],
h5 [class^="glyphicon"],
h6 [class^="glyphicon"] {
  color: #8bbf36;
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: 5px;
}
a {
  color: #8bbf36;
  text-decoration: none;
}
a:hover,
a:active {
  color: #669933;
  text-decoration: underline;
}
.banner {
  width: 100%;
  margin-left: -10px;
  margin-bottom: 15px;
  padding: 0px 0px 0px 10px;
  background-color: #f7f7f7;
}
.banner .featured {
  display: block;
  width: 103px;
  height: 103px;
  background-color: #FFF;
  background-image: url(../img/placeholder.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 97px 97px;
  text-align: center;
}
.grey {
  padding-bottom: 15px;
  background-color: #eeeeee;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
}
.get-started-call {
	padding-top: 30px;
}
footer {
  margin-top: 20px;
  background-color: #7a7a7a;
  border-top: 1px solid #686868;	
  color: #CDCDCD;
}
footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer a:link,
footer a:visited {
  color: #CDCDCD;
}
footer a:hover,
footer a:active {
  color: #CDCDCD;
}
.project-item {
  width: 100%;
}
/* Bootstrap overhide */
.btn-primary {
  color: #fff;
  background-color: #8bbf36;
  border-color: #70992C;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #79A62F;
  border-color: #5D8025;
}
.btn-primary:hover {
  color: #fff;
  background-color: #79A62F;
  border-color: #5D8025;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #79A62F;
  border-color: #5D8025;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #5D8025;
  border-color: #5D8025;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #8bbf36;
  border-color: #70992C;
}
.btn-primary .badge {
  color: #8bbf36;
  background-color: #fff;
}
.btn-info {
  background-color: #4190c2;
  border-color: #265877 #265877 #33749d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #4190c2;
}
.navbar-default {
  background: #8bbf36;
  filter: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #FFF;
  font-size: 14px;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 3px 20px 0px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFF;
  text-shadow: none;
}
@media (max-width: 768px) {
	.navbar-default .navbar-nav > li > a {
	  margin: 5px 0px;
	}
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #a2d058;
  color: #FFF;
}
@media (max-width: 768px) {
	.navbar-brand > img {
	  max-height: 22px;
	}
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border: none;
}
ul.navbar-nav {
	margin: 0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #516f20;
}
.navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #a2d058;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #8BBF36;
}